@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


body {
    background-image: url("/assets/skipper-hotel.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    margin: 250px 350px;
    font-family: 'Comic Neue', cursive;
    color: #fff;
    font-size: 24px
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

h1{
    font-weight: 600;
}

h3{
    font-weight: 400;
}


h1, h3, a, button{
    position: relative;
}

